

<div class="jumbotron">
    <h1>Amazing Shop</h1>
    <p>amazing shop congrats you with our new offers for this weekend because of our new fan page we offer u 10% off for any product
     hurryyyyyy upppp girlssss and don't miss this offer
     for limited time ONLY </p>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQGrge845BTpHWIRKshZGnxcgSavTvjnOKQNbjMyiVzmTJ_LdNF" />
</div>
