@model IEnumerable<AmazingShop.Models.Category>


<div class="row">
    @foreach(var item in Model)
    {
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/171x180"/>
            <h4 align="center">@item.CategoryName</h4>
            <p align="center">@item.CategoryDescription</p>
            @Html.ActionLink("MORE", "GetProductListByCategory", "Category", new { item.Id }, new { @class = "btn btn-primary", @style = "margin-left:90px" })           
        </div>   
      </div>  
    }
    
</div>
