@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="http://placehold.it/171x180">
            <h4 align="center">Wooden Accessories</h4>
            <p align="center">Category description</p>
            @Html.ActionLink("MORE", "CategoryProductList", "Category", null, new { @class = "btn btn-primary", @style = "margin-left:90px" })           
        </div>   
    </div>
</div>
