@model IEnumerable<AmazingShop.Models.ProductList>
@{
    Layout = null;
}

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">@item.ProductName<span class="glyphicon glyphicon-trash pull-right"></span></li>
    }
</ul>

@Html.ActionLink("Add new Product", "AddProduct", "Product", null, new { @class = "btn btn-primary btn-lg btn-block" })
